@import "tailwindcss";
@import "react-day-picker/dist/style.css";

/* * */

/* :root {
  --success: #FACC15;
}

[data-sonner-toast][data-type="success"] {
  --normal-bg: white;
} */

[data-sonner-toast][data-type="success"] svg {
  color: #FACC15;
  /* yellow tick */
}

[data-sonner-toast][data-type="error"] svg {
  color: #f31b1b;
  /* yellow tick */
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: lexan; */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 1px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}